<h1>{{ section.settings.title }}</h1>

<p>
  {{ section.settings.notfound }}
</p>

<a href="{{ section.settings.button_link_404 }}">
  {{ section.settings.button_text_404 }}
</a>

{% schema %}
{
  "name": "t:general.404",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "404 Title",
      "default": "Set Title"
    },
    {
      "type": "richtext",
      "id": "notfound",
      "label": "404 subtext",
      "default": "<p>Page not found</p>"
    },
    {
      "type": "text",
      "id": "button_text_404",
      "label": "Button text",
      "default": "Back to Shopping"
    },
    {
      "type": "url",
      "id": "button_link_404",
      "label": "Button link"
    }
  ]
}
{% endschema %}
