{{ 'collection.css' | asset_url | stylesheet_tag }}

<div class="title-header-banner full-width">
   <h1 class="collection-title-head">{{ collection.title }}</h1>
</div>


  {% paginate collection.products by 4 %}
      <div class="collection-products" style="--padding-top:{{ section.settings.padding_top }}px; --padding-bottom:{{ section.settings.padding_bottom }}px;">
         {% for product in collection.products %}
            {% render 'Product-card', product: product %}
         {% endfor %}
      </div>
     <div class="pagination">
        {% render 'pagination', pagination: paginate %}
     </div>
  {% endpaginate %}



{% schema %}
{
  "name": "t:general.collection",
  "settings": [
    {
      "type": "header",
      "content": "t:general.collection_card"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Show product reviews",
      "default": true
    },
    {
      "type": "header",
      "content": "t:labels.padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
